
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span style="color:white;">
    @foreach (var item in ViewBag.List)
    {
        <h2>@item.Title</h2>
      
        <p>@item.Description</p>
       
    }

</span>