
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<span style="color:white;">
    {
        <p>@item.Title</p>
        <p>@item.Description</p>

    }</span>
    @foreach (var item in ViewBag.List)
