
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span style="color:white;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Bx6hLQWVQDk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    @foreach (var item in ViewBag.List)
    {
    <h2>@item.Title</h2>

    <p>@item.Description</p>

    }

</span>