
@{
    ViewBag.Title = "Yorum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="conteiner">
    <div class="row">


        <div class="widget-area no-padding blank">
            <div class="status-upload">
                <form method="post">
                    <br />
                    <textarea style="width:75%;" placeholder="What are you doing right now?" name="comment"></textarea>
                    <br />

                    <button type="submit" class="btn btn-success green"><i class="btn btn-success-warning"></i> Share</button>
                </form>
            </div><!-- Status Upload  -->
        </div><!-- Widget Area -->
    </div>

</div>