
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Avengers Fun Clup</title>
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="conteiner1">
        <img src="~/Content/images/logo.png" />

        <nav >
            <ul>

                <li>
                    <a href="/Default/Index">Home</a>
                </li>
                @if (Session["uname"] != null)
                {
                    <li>
                        <a href="/Movies/Index">Series</a>
                    </li>
                    <li>
                        <a href="/Character/Index/">Characters</a>
                    </li>
                    <li style="float:right;">
                        <a href="/User/Login">Exit</a>

                    </li>}
                @if (Session["uname"] == null)
                {
                    <li style="float:right;">
                        <a href="/User/Login">Login </a>
                    </li>}



            </ul>
        </nav>
        @RenderBody()

        <div class="footer">

            <p>Copyright Engin Krbdk 2019♥</p>

        </div>

    </div>

</body>
</html>
