@using AvengersMVC.Models
@model List<Character>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 33.33%;
            padding: 10px;
            height: 300px; /* Should be removed. Only for demonstration */
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        .column img {
            width: 125px;
            height: 150px;
        }
    </style>
</head>
<link href="~/Content/Style.css" rel="stylesheet" />

<div class="main">
    
    <p>  KAraktertlaer burfdasdasdasd sdf asdfasdfg asdfg   </p>

     

    <div class="row">
        @foreach (var item in Model)
        {


            <div class="column">
                <h2>@item.CharacterName</h2>
             
                <img src="~/Content/Characters/@item.ImageUrl" />
                <p>@item.Name</p>
                <a href="/Character/Detail/@item.Id">See More..</a>


            </div>
        }
    </div>





</div>